body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'FranklinGothic URW';
}

.questions {
  background: #12B7A1;
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
}

.question {
  width: 100%;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
  transition: all 0.2s;
  position: fixed;
  top: 0;
  bottom: 0;
}
.question.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.question.scores h1 {
  margin: 0;
  font-family: "ATC Overlook";
}
.question:after {
  content: "Tap to show answer";
  display: block;
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 12px;
  box-sizing: border-box;
  font-family: "ATC Overlook";
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.question.show-answer:after {
  opacity: 0;
}
.question.show-answer .players {
  opacity: 1;
  transition: opacity 5s;
}
.question.show-answer .answer-text {
  top: 33vh;
}
.question.show-answer .answer-text:before {
  opacity: 1;
  transition: all 0.5s;
}
.question .question-text, .question .answer-text {
  font-size: 24px;
  line-height: 36px;
  color: white;
  min-height: 40vh;
  padding-top: 24px;
  padding: 24px;
  margin: 0;
  box-sizing: border-box;
}
.question .answer-text {
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
  position: fixed;
  width: 100%;
  top: calc(100vh - 108px);
  bottom: 0;
  overflow-y: scroll;
  transition: all 0.4s cubic-bezier(0.565, 1.65, 0.765, 0.88);
}
.question .answer-text:before {
  opacity: 0;
}
.question .question-text:before, .question .answer-text:before, .question .players:before {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 36px;
  font-family: "ATC Overlook";
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
.question .question-text:before {
  content: "Question";
}
.question .answer-text:before {
  content: "Correct Answer";
  color: rgba(255, 255, 255, 0.6);
}
.question form.players {
  opacity: 0;
}
.question form.players:before {
  content: "Who got it correct?";
  color: rgba(255, 255, 255, 0.6);
  margin-top: 48px;
}
.question form.players input {
  display: block;
  position: fixed;
  left: -100px;
}
.question form.players input:checked + label {
  border: 4px solid white;
  padding-top: 10px;
  padding-bottom: 6px;
}
.question form.players label {
  background: #333;
  color: white;
  font-size: 24px;
  line-height: 36px;
  padding: 14px 24px 10px;
  border-radius: 100px;
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots {
  position: fixed;
  top: 0;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.flickity-page-dots .dot {
  opacity: 1;
  background: #ddd;
}

.flickity-page-dots .dot.is-selected {
  border: 6px double white;
  width: 10px;
  height: 10px;
  margin: 0 6px;
}

.flickity-page-dots .dot:last-child {
  border: none;
  background: none;
}
.flickity-page-dots .dot:last-child:before {
  content: "*";
  font-family: "ATC Overlook";
  font-size: 34px;
  line-height: 0px;
  position: relative;
  top: 11px;
  color: #ccc;
}
